.text-decorator-none{
    text-decoration: none;
}

.card {
    background-color: #212121 !important;
    color: black !important;
    
}

.postagemAlt{
    min-height: 57vh;
}

.listPost {
    background-color: gray !important;
}

.titleList{
    color: black !important;
}

.Post {
    margin-left: 5rem;

}

.Post02 {
    margin-left: 2rem;
}