.caixa {
  background-color: #3f51b5;
  
}

.titulo {
  color: white !important;
  font-weight: bold !important;
}

.botao {
  border-color: white !important;
  background-color: #3f51b5 !important;
  color: white !important;
}
.botao2 {
  border-color: white !important;
  background-color: black !important;
  color: white !important;
}

.postagens {
  background-color: silver;
}

.imagem3 {
  background-image: url(https://cdn.pixabay.com/photo/2020/08/06/16/16/character-5468416_960_720.png);
  width: 100vh;
  height: 100vh;
  background-size: cover;
  border-radius: 450px !important;
  border: 0px solid #212121;
  box-shadow: 2px 3px 10px #212121;
}
  

