.imagem2 {
  background-image: url(https://cdn.pixabay.com/photo/2020/11/17/13/22/naruto-5752318_960_720.png);
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  
}

.textos2 {
  font-weight: bold !important;
}

.btnCancelar {
  margin-right: 20px !important;
}

.icon {
  margin-left: 43%;
}
